{% extends 'base.html.twig' %}

{% block title %}Associations{% endblock %}

{% block body %}
    <div class="progress center-block">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <span>{{ Page1 }}</span>
        </div>
    </div>
    <fieldset>

        <legend>Informations de mon association : </legend>

        {% for monAsso in monAsso %}
        <p>Nom : {{ monAsso.anom }}</p>
        <p>Mail : {{ monAsso.amail }}</p>
        <p>Adresse: {{ monAsso.aadresse }}</p>
        <p>Date de création: {{ monAsso.adatecreation|date("d/m/Y") }}</p>
        <p>Date d'embauche du premier salarié: {{ monAsso.adateembauche|date("d/m/Y") }}</p>
        <p>Fédération: {{ monAsso.afederation }}</p>
        <p>SIRET: {{ monAsso.asiret }}</p>
        <p>Code APE: {{ monAsso.aape }}</p>
        <p>Immatriculation U.R.S.S.A.F. : {{ monAsso.aurssaf}}</p>
        <p>Code risque délivré par la CARSAT: {{ monAsso.acoderisque }}</p>
        <p>Numéro POLE EMPLOI: {{ monAsso.apeidentifiant }}  code personnel: {{ monAsso.apecodeperso }}</p>
        <p>Caisse retraite complémentaire: {{ monAsso.acaisseretraite }} n° d'adhérent {{ monAsso.acaisseretraitenumadh }}</p>
        <p>N° d'adhérent Caisse de Prévoyance Humanis GNP : {{ monAsso.acaisseprevoyance }}</p>
        <p>En cas d'adhésion à des services de prévoyance optionnels : {{ monAsso.app}} </p>
        <p>Complémentaire Santé : {{ monAsso.acomplementaire }}       n°d'adhérent:{{monAsso.acaisseretraitenumadh}}</p>
        <p>N° adhérent ICOM :{{ monAsso.aicom }}</p>
        <p>N° adhérent ASSTV :{{ monAsso.aasstv}}</p>
        <p>Nom du/de la Président(e): {{ monAsso.apresnom}}</p>
        <p>Adresse postale: {{ monAsso.apresadresse }}</p>
        <p>Portable:  {{ monAsso.apresportable}}</p>
        <p>Téléphone :{{ monAsso.aprestel }}</p>
        <p>Mail: {{ monAsso.acaisseprevoyance }}</p>
        <p>Nom du/de la correspondant(e) pour la gestion de l'emploi: {{ monAsso.agestionnom}}</p>
        <p>Adresse postale: {{ monAsso.acorrespondadresse }}</p>
        <p>Portable:  {{ monAsso.acorrespondportable}}</p>
        <p>Téléphone :{{ monAsso.acorrespondtel }}</p>
        <p>Mail: {{ monAsso.acorrespondmail }}</p>
        <p>Mode de paiement des salaires : {{ monAsso.amodepaiement }}</p>
        <p>Coordonnées bancaires  :   {{ monAsso.arib }}</p>
        <p>Informations complémentaires :   {{ monAsso.ainfocomplementaire}}</p>
        <p>Date d'adhésion au service impact emploi :   {{ monAsso.adateadhesion|date("d/m/Y") }}</p>
        <a href="{{ path('modifMonAsso',{'mailAsso': monAsso.amail, 'Page1':Page1}) }}" method="post" type="button" class="btn btn-success">Modifier mes informations</a>
        <br><br>
        {% endfor %}
    </fieldset>

{% endblock %}

