{% extends 'base.html.twig' %}

{% block body %}
    <h1>Informations personnelles du salarié</h1>
    <br>
   <strong>* Champs obligatoires</strong>
    {{ form_start(form) }}

   {# <h6>Mail de l'association :
        {{ form_widget(form.amail) }}
    </h6>#}

    <h6>Nom <strong>*</strong>:
        {{ form_widget(form.snom) }}
    </h6>
    <h6>Nom de jeune fille :
        {{ form_widget(form.snomjeunefille) }}
    </h6>
    <h6>Prénom <strong>*</strong>:
        {{ form_widget(form.sprenom) }}
    </h6>
    <h6>Adresse Postale <strong>*</strong> :
        {{ form_widget(form.sadresse) }}
    </h6>
    <h6>Portable <strong>*</strong> :
        {{ form_widget(form.sportable) }}
    </h6>
    <h6>Téléphone :
        {{ form_widget(form.stel) }}
    </h6>
    <h6>Date de naissance :
        {{ form_widget(form.sdatenaissance) }}
    </h6>
    <h6>Lieu de Naissance :
        {{ form_widget(form.slieunaissance) }}
    </h6>
    <h6>Département de naissance :
        {{ form_widget(form.sdptnaissance) }}
    </h6>
    <h6>Nationalité Française:
        {{ form_widget(form.snationalite) }}
    </h6>
    <h6>Autre nationalité :
        {{ form_widget(form.sautre) }}
    </h6>
    <h6>Numéro de sécurité sociale <strong>*</strong> :
        {{ form_widget(form.snumsecu) }}
    </h6>
    <h6>Situation familliale :
        {{ form_widget(form.ssituationfam) }}
    </h6>
    <h6>Nombre d'enfants à charge :
        {{ form_widget(form.snbenfant) }}
    </h6>

    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}

{% endblock %}
