{% extends 'base.html.twig' %}

{% block body %}
    <h1>Avenant au contrat de travail</h1>
    <br>
    <strong>* Champs obligatoires</strong>
    {{ form_start(form) }}

    <h6>Date d'effet <strong>*</strong>:
        {{ form_widget(form.avdebut) }}
    </h6>

    <h6> Type de modification (rémunération, classification, volume horaire, …) <strong>*</strong>:
        {{ form_widget(form.avtypemodif) }}
    </h6>
    <h6>Commentaires éventuels
        {{ form_widget(form.avcommentaire) }}
    </h6>


    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}

{% endblock %}
