{% extends 'base.html.twig' %}

{% block body %}
    <h1>Congés</h1>
    <br>
    <strong>* Champs obligatoires</strong>
    {{ form_start(form) }}

    <h6>Type de congés <strong>*</strong>:
        {{ form_widget(form.contype) }}
    </h6>

    <h6>Dernier jour travaillé <strong>*</strong>:
        {{ form_widget(form.condernierjour) }}
    </h6>
    <h6>Jour de reprise <strong>*</strong>:
        {{ form_widget(form.conjourreprise) }}
    </h6>
    <h6>Jours normalement travaillés <strong>*</strong>:
        {{ form_widget(form.conjournormaltrav) }}
    </h6>
    <h6>Nombre de jour pris (jour ouvrable) <strong>*</strong>:
        {{ form_widget(form.connbjourouvrablepris) }}
    </h6>
    <h6>Commentaires éventuels :
        {{ form_widget(form.concommentaire) }}
    </h6>

    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}

{% endblock %}
