{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chômages</h1>
    <br>
    <strong>* Champs obligatoires</strong>
    {{ form_start(form) }}

    <h6>Date de début du chômage <strong>*</strong> :
        {{ form_widget(form.chodebut) }}
    </h6>

    <h6>Date de fin du chômage <strong>*</strong> :
        {{ form_widget(form.chofin) }}
    </h6>
    <h6>Nombre d'heure à déduire <strong>*</strong> :
        {{ form_widget(form.chonbheure) }}
    </h6>
    <h6>Maintien du chômage à 100% <strong>*</strong> :
        {{ form_widget(form.chomaintien) }}
    </h6>
    <h6>Commentaires :
        {{ form_widget(form.chocommentaire) }}
    </h6>


    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}

{% endblock %}
