{% extends 'base.html.twig' %}

{% block body %}
    <h1>Informations professionnelles d'un salarié</h1>
    <br>
    <strong>* Champs obligatoires</strong>
    {{ form_start(form) }}


    <h6>Nom de l'employeur <strong>*</strong> :
        {{ form_widget(form.snomemployeur) }}
    </h6>
    <h6>Poste occupé <strong>*</strong> :
        {{ form_widget(form.sposteoccupe) }}
    </h6>
    <h6>Groupe CCNS:
        {{ form_widget(form.sccns) }}
    </h6>
    <h6>Nature du contrat (CDD, CDI, CDI intermittent) :
        {{ form_widget(form.snaturecontrat) }}
    </h6>
    <h6>Temps de travail (Temps plein, temps partiel, etc...) :
        {{ form_widget(form.stypetempstravail) }}
    </h6>
    <h6>Gestion des CP ? :
        {{ form_widget(form.sgestcp) }}
    </h6>
    <h6>Date de début du contrat :
        {{ form_widget(form.sdatedebut) }}
    </h6>
    <h6>Date de fin du contrat :
        {{ form_widget(form.sdatefin) }}
    </h6>
    <h6>Motif de fin de contrat :
        {{ form_widget(form.sfinmotif) }}
    </h6>
    <h6>Commentaire de fin de contrat:
        {{ form_widget(form.scomfin) }}
    </h6>
    <h6>10% de congé payé versée mensuellement :
        {{ form_widget(form.s10congemois) }}
    </h6>
    <h6>Congés à prendre :
        {{ form_widget(form.sconge) }}
    </h6>
    <h6>Type de contrat (s’il s’agit d’un contrat aidé/subventionné):
        {{ form_widget(form.stypecontrat) }}
    </h6>
    <h6>Salarié multi-employeurs :
        {{ form_widget(form.smultiemployeur) }}
    </h6>
    <h6>Volume horaire mensuel:
        {{ form_widget(form.svolhorairemois) }}
    </h6>
    <h6>Taux horaire brut (en €) :
        {{ form_widget(form.stauxhorairebrut) }}
    </h6>
    <h6>Salaire mensuel brut (€/mois) :
        {{ form_widget(form.ssalmoisbrut) }}
    </h6>
    <h6>Adhésion à la complémentaire santé obligatoire proposé par l'employeur :
        {{ form_widget(form.scomplemsante) }}
    </h6>
    <h6>Autres éléments de rémunération :
        {{ form_widget(form.sautreelement) }}
    </h6>

    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}

{% endblock %}
