{% extends 'base.html.twig' %}

{% block body %}
    <h1>Autre absence (injustifiée, autorisée)</h1>
    <br>
    <strong>* Champs obligatoires</strong>
    {{ form_start(form) }}

    <h6>Du <strong>*</strong> :
        {{ form_widget(form.absdebut) }}
    </h6>

    <h6>Au <strong>*</strong> :
        {{ form_widget(form.absfin) }}
    </h6>
    <h6>Nombre d'heures à déduire <strong>*</strong> :
        {{ form_widget(form.absnbheure) }}
    </h6>
    <h6>Type d'absence à préciser <strong>*</strong>:
        {{ form_widget(form.abscommentaire) }}
    </h6>

    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}

{% endblock %}
