{% extends 'base.html.twig' %}
{% block body %}

  <div class="progress center-block">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
      <span>
        {{ Page1 }}</span>
    </div>
  </div>

  <fieldset>
    <legend style="color:#18BC9C"><B>Voici la liste des Salariés de votre association :</B></legend>
    <br>
    <hr>
    <a href="{{ path('VerifInfosPerso',{'mailasso': MailAsso, 'but':'', 'role' : 'ADMIN_ASSO', 'Page1': Page1, 'Page2':' '}) }}" method="post" type="button" class="btn btn-danger">Ajouter un salarié</a>
    <br>
    <hr>
    <br>

    <table id="" class="display" style="width:100%">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Voir plus d'informations</th>
        <th>Supprimer</th>
      </tr>
      </thead>
      <tbody>

      {% for salarie in ListeSalaries %}
        <tr>
          <td>{{ salarie.snom }}</td>
          <td>{{ salarie.sprenom }}</td>
          <td>
            <a href="{{ path('ProfilSalarie',{'idPerso': salarie.getSpersoid(), 'idmail' : MailAsso, 'Page1': Page1}) }}" method="post">Voir Plus</a>
          </td>
          <td>
            <a href="" method="post">Supprimer</a>
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
    <br>
    <hr>
    <br>
  </fieldset>
{% endblock %}

{% block javascripts %}

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/keytable/2.5.0/js/dataTables.keyTable.min.js"></script>
  <script>
    $(document).ready(function() {
      $('table.display').DataTable();
    } );
  </script>

{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/keytable/2.5.0/css/keyTable.dataTables.min.css">
{% endblock %}
