{% extends 'base.html.twig' %}
{% block body %}
    <div class="progress center-block">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <span><a href="{{ path('ListeSalaries') }}" method="post">{{ Page1 }}</a></span>
        </div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="20" aria-valuemax="100">
            <span>{{ Page2 }}</span>
        </div>
    </div>

    <fieldset>
        <legend style="color:#18BC9C"><B>Voici les informations sur votre salarié :</B></legend>

        <br>
        <hr>
        <table>
            <tr>
                <td style="padding-left: 200px">
                    <div class="card border-light mb-3" style="max-width: 20rem;">
                        <div class="card-header">Informations Personnelles</div>
                        <div class="card-body">
                            <p class="card-text">
                            <li><B>Nom :</B>  {{ infosperso.snom }}</li>
                            <li><B>Nom de Jeune Fille :</B>  {{ infosperso.snomjeunefille }}</li>
                            <li><B>Prenom :</B>  {{ infosperso.sprenom }}</li>
                            <li><B>Adresse :</B>  {{ infosperso.sadresse }} </li>
                            <li><B>Portable :</B>  {{ infosperso.sportable }} </li>
                            <li><B>Telephone :</B>  {{ infosperso.stel }} </li>
                            <li><B>Date de naissance :</B>  {{ infosperso.sdatenaissance|date("d/m/Y") }} </li>
                            <li><B>Lieu de naissance :</B>  {{ infosperso.slieunaissance }} </li>
                            <li><B>Département de naissance :</B>  {{ infosperso.sdptnaissance }} </li>
                            <li><B>Nationalité Française :</B>
                                {% if infosperso.snationalite=='Oui' %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </li>
                            {% if infosperso.snationalite=='Non' %}
                                <li> <B>Autre Nationalité (Numéro de carte de séjour):</B>  {{ infosperso.sautre }} </li>
                            {% endif %}
                            <li><B>N° de sécurité sociale :</B>  {{ infosperso.snumsecu }} </li>
                            <li><B>Situation familliale :</B>  {{ infosperso.ssituationfam }} </li>
                            <li><B>Nombre d'enfants a charge :</B> {{ infosperso.snbenfant }} </li>

                            <br>
                            <a href="{{ path('modifInfosPerso',{'idInfosPerso': infosperso.spersoid, 'idmail': idmail, 'Page1':Page1, 'Page2':Page2})}}" method="post" type="button" class="btn btn-success">Modifier les informations personnelles</a>
                            <br></p>
                        </div>
                    </div>
                </td>
                <td style="padding-left: 100px">
                    <div class="card border-light mb-3" style="max-width: 20rem;">
                        <div class="card-header">Informations Professionnelles</div>
                        <div class="card-body">
                            <p class="card-text">
                            <ul>
                                <li><B>Mail de l'association :</B>  {{ Infospro.smailasso }}</li>
                                <li><B>Nom employeur :</B>  {{ Infospro.snomemployeur }}</li>
                                <li><B>Poste occupé :</B>  {{ Infospro.sposteoccupe }}</li>
                                <li><B>Groupe CCNS:</B>  {{ Infospro.sccns }}</li>
                                <li><B>Nature du contrat :</B>  {{ Infospro.snaturecontrat }}</li>
                                <li><B>Type temps de travail (Partiel, Temps pleins ou intermitant):</B>  {{ Infospro.stypetempstravail }}</li>
                                <li><B>Gestion des congés payés:</B>
                                    {% if Infospro.sgestcp=='Oui' %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </li>
                                <li><B>Date de début :</B>  {{ Infospro.sdatedebut|date("d/m/Y") }}</li>
                                {#<li><B>Date de fin :</B>
                                    {% if Infospro.sdatefin==null  %}

                                    {% else %}
                                        {{ Infospro.sdatefin|date("d/m/Y") }}
                                    {% endif %}
                                </li>
                                <li><B>Motif de fin:</B>  {{ Infospro.sfinmotif }}</li>
                                <li><B>Commentaire de fin:</B>  {{ Infospro.scomfin }}</li>#}
                                <li><B>10% de congés payés à verser mensuellement:</B>
                                    {% if Infospro.s10congemois=='Oui' %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </li>
                                {#<li><B>Congés à prendre:</B>
                                    {% if Infospro.sconge=='Oui' %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </li>#}
                                <li><B>Type de contrat (si aide/subventionné) :</B>  {{ Infospro.stypecontrat }}</li>
                                <li><B>Salarié multi-employeurs :</B>
                                    {% if Infospro.smultiemployeur=='Oui' %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </li>
                                <li><B>Volume horaire mensuel :</B>  {{ Infospro.svolhorairemois }}</li>
                                <li><B>Taux horaire brut (en €) :</B>  {{ Infospro.stauxhorairebrut }}</li>
                                <li><B>Salaire mensuel brut (en €) par mois :</B>  {{ Infospro.ssalmoisbrut }}</li>
                                <li><B>Adhésion à la complémentaire santé obligatoire proposée par l'employeur :</B>
                                    {% if Infospro.scomplemsante=='Oui' %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </li>
                                <li><B> Autres éléments de rémunération :</B>  {{ Infospro.sautreelement }}</li>
                                <br>
                                <a href="{{ path('modifInfosPro',{'idInfosPro': Infospro.sproid, 'idmail':idmail, 'idPerso':infosperso.spersoid, 'Page1':Page1, 'Page2':Page2})}}" method="post" type="button" class="btn btn-success">Modifier les informations professionnelles</a>
                                <br>
                            </ul></p>
                        </div>
                    </div>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <hr>
        <br>
        <table>
            <tr>
                <td>
                    {#Début de la Nav-bar, Les noms des ongles#}
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#{{idInfoPro}}.conges" role="tab" aria-controls="home" aria-selected="true">Congés</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idInfoPro}}.arrets_travail" role="tab" aria-controls="profile" aria-selected="false">Arrêts de travail</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idInfoPro}}.chomages" role="tab" aria-controls="profile" aria-selected="false">Activité partielle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idInfoPro}}.autres_absences" role="tab" aria-controls="profile" aria-selected="false">Autres absences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idInfoPro}}.primes" role="tab" aria-controls="profile" aria-selected="false">Primes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idInfoPro}}.frais" role="tab" aria-controls="profile" aria-selected="false">Frais professionnels</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idInfoPro}}.heures" role="tab" aria-controls="profile" aria-selected="false">Heures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idInfoPro}}.avenants" role="tab" aria-controls="profile" aria-selected="false">Avenants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idInfoPro}}.fincontrat" role="tab" aria-controls="profile" aria-selected="false">Fin de contrats</a>
                        </li>
                    </ul>

                    {#Début du contenu des onglets#}
                    <div class="tab-content">
                        <div class="tab-pane active" id="{{idInfoPro}}.conges" role="tabpanel" aria-labelledby="home-tab">
                            <br>
                            <H4 style="color:#F7230C">Voici la page permettant de gérer les congés :</H4>

                            {% for conge in conges %}
                                <div class="card border-primary mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <p class="card-text">
                                        <li><B>Type de congés :</B>  {{ conge.contype }}</li>
                                        <li><B>Dernier jour travaillé :</B>  {{ conge.condernierjour|date("d/m/Y")}}</li>
                                        <li><B>Jour de reprise :</B>  {{ conge.conjourreprise|date("d/m/Y") }}</li>
                                        <li><B>Jours normalement travaillé :</B>  {{ conge.conjournormaltrav | json_encode }} </li>
                                        <li><B>Nombre de jour ouvrable pris :</B>  {{ conge.connbjourouvrablepris }} </li>
                                        <li><B>Commentaire :</B>  {{ conge.concommentaire }} </li>
                                        </p>
                                        <a href="{{ path('modifConge',{'sproid': idInfoPro , 'idconge': conge.conid,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Modifier un congé</a>
                                    </div>
                                </div>
                            {% endfor %}
                            <br>
                            <a href="{{ path('EnregistrerConge',{'sproid': idInfoPro ,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Ajouter un congé</a>

                        </div>

                        <div class="tab-pane" id="{{idInfoPro}}.arrets_travail" role="tabpanel" aria-labelledby="profile-tab">
                            <br>
                            <H4 style="color:#F7230C">Voici la page permettant de gérer les arrêts de de travail :</H4>

                            {% for arrettravail in arrettravails %}
                                <div class="card border-primary mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <p class="card-text">
                                        <li><B>Type d'arrêt de travail :</B>  {{ arrettravail.attype }}</li>
                                        <li><B>Initial ou prolongation  :</B>  {{ arrettravail.atprolongation}}</li>
                                        <li><B>Date de début de l'arrêt:</B>  {{ arrettravail.atdebut|date("d/m/Y") }}</li>
                                        <li><B>Date de fin prévisionnel de l'arrêt:</B>  {{ arrettravail.atfin|date("d/m/Y") }} </li>
                                        <li><B>En cas de maladie : maintien des trois premiers jours:</B>  {{ arrettravail.at3jours }} </li>
                                        {% if arrettravail.at3jours=='non' %}
                                            <li> <B>Si non, nombre d'heures à déduire</B>  {{ arrettravail.at3jnbh}} </li>
                                        {% endif %}
                                        <li><B>En cas de maladie, pour les salariés ayant moins d'un an d'ancienneté, maintien à compter du 4ème jour</B>  {{ arrettravail.at4jours }} </li>
                                        {% if arrettravail.at4jours=='non' %}
                                            <li> <B>Si non, nombre d'heures à déduire</B>  {{ arrettravail.at4jnbh}} </li>
                                        {% endif %}
                                        <li><B>Commentaires :</B>  {{ arrettravail.atcommentaire }} </li>
                                        </p>
                                        <a href="{{ path('modifArretTravail',{'sproid': idInfoPro , 'idarrettravail': arrettravail.atid,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Modifier un arrêt de travail</a>
                                    </div>
                                </div>
                            {% endfor %}
                            <br>

                            <a href="{{ path('EnregistrerArretTravail',{'sproid': idInfoPro,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Ajouter un arrêt de travail</a>

                        </div>

                        <div class="tab-pane" id="{{idInfoPro}}.chomages" role="tabpanel" aria-labelledby="profile-tab">
                            <br>
                            <H4 style="color:#F7230C">Voici la page permettant de gérer les périodes d'activité partielle :</H4>

                            {% for chomage in chomages %}
                                <div class="card border-primary mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <p class="card-text">
                                        <li><B>Date de début :</B>  {{ chomage.chodebut|date("d/m/Y")}}</li>
                                        <li><B>Date de fin :</B>  {{ chomage.chofin|date("d/m/Y")}}</li>
                                        <li><B>Nombre d'heures à déduire :</B>  {{ chomage.chonbheure }}</li>
                                        <li><B>Maintien du chômage à 100% : {{ chomage.chomaintien }}</B>
                                        </li>
                                        <li><B>Commentaire :</B>  {{ chomage.chocommentaire }} </li>
                                        </p>
                                        <a href="{{ path('modifChomage',{'sproid': idInfoPro , 'idchomage': chomage.choid,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Modifier une activité partielle</a>
                                    </div>
                                </div>
                            {% endfor %}
                            <br>
                            <p><a href="{{ path('EnregistrerChomage',{'sproid': idInfoPro ,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Ajouter une activité partielle</a>
                            </p>
                        </div>
                        <div class="tab-pane" id="{{idInfoPro}}.autres_absences" role="tabpanel" aria-labelledby="home-tab">
                            <br>
                            <H4 style="color:#F7230C">Voici la page permettant de gérer les autres absences:</H4>

                            {% for autresabsence in autresabsences %}
                                <div class="card border-primary mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <p class="card-text">
                                        <li><B>Du :</B>  {{ autresabsence.absdebut|date("d/m/Y") }}</li>
                                        <li><B>Au :</B>  {{ autresabsence.absfin|date("d/m/Y")}}</li>
                                        <li><B>Nombre d'heures à déduire :</B>  {{ autresabsence.absnbheure }}</li>
                                        <li><B>Type d'absence à préciser :</B>  {{ autresabsence.abscommentaire }} </li>
                                        </p>
                                        <a href="{{ path('modifAutreAbsence',{'sproid': idInfoPro , 'idautreabsence': autresabsence.absid,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Modifier une autre absence</a>

                                    </div>
                                </div>
                            {% endfor %}
                            <br>
                            <a href="{{ path('EnregistrerAutreAbsence',{'sproid': idInfoPro ,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Ajouter une autre absence</a>


                        </div>
                        <div class="tab-pane" id="{{idInfoPro}}.primes" role="tabpanel" aria-labelledby="home-tab">
                            <br>
                            <H4 style="color:#F7230C">Voici la page permettant de gérer les primes :</H4>

                            {% for prime in primes %}
                                <div class="card border-primary mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <p class="card-text">
                                        <li><B>Type de prime :</B>  {{ prime.primtype}}</li>
                                        <li><B>Montant de la prime :</B>  {{ prime.primmontant}}</li>
                                        <li><B>Unité :</B>  {{ prime.primnetbrut }}</li>
                                        <li><B>Commentaires :</B> {{ prime.primcommentaire }}
                                        </li>
                                        </p>
                                        <a href="{{ path('modifPrime',{'sproid': idInfoPro , 'idprime': prime.primid,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Modifier une prime</a>
                                    </div>
                                </div>
                            {% endfor %}
                            <a href="{{ path('EnregistrerPrime',{'sproid': idInfoPro ,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Ajouter une prime</a>
                        </div>

                        <div class="tab-pane" id="{{idInfoPro}}.frais" role="tabpanel" aria-labelledby="home-tab">
                            <H4 style="color:#F7230C">Voici la page permettant de gérer les frais professionnels:</H4>

                            {% for frai in frais %}
                                <div class="card border-primary mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <p class="card-text">
                                        <li><B>Type de frais :</B>  {{ frai.fratype}}</li>
                                        <li><B>Quantité :</B>  {{ frai.fraquantite}}</li>
                                        <li><B>Taux unitaire :</B>  {{ frai.frataux }}</li>
                                        <li><B>Total :</B>  </li>  {{ frai.fraquantite * frai.frataux }}
                                        <li><B>Commentaires éventuels:</B> {{ frai.fracommentaire}}
                                        </li>
                                        </p>
                                        <a href="{{ path('modifFrais',{'sproid': idInfoPro , 'idfrais': frai.fraid,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Modifier un frais</a>
                                    </div>
                                </div>
                            {% endfor %}
                            <a href="{{ path('EnregistrerFrais',{'sproid': idInfoPro ,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Ajouter un frais</a>

                        </div>
                        <div class="tab-pane" id="{{idInfoPro}}.heures" role="tabpanel" aria-labelledby="home-tab">
                            <br>
                            <H4 style="color:#F7230C">Voici la page permettant de gérer les heures :</H4>

                            {% for heure in heures %}
                                <div class="card border-primary mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <p class="card-text">
                                        <li><B>Type d'heure :</B>  {{ heure.heurtype}}</li>
                                        <li><B>Semaine concernée :</B>  {{ heure.heursem}}</li>
                                        <li><B>Nombre d'heure :</B>  {{ heure.heurnb }}</li>
                                        <li><B>Commentaires :</B> {{ heure.heurcommentaire }}
                                        </li>
                                        </p>
                                        <a href="{{ path('modifHeure',{'sproid': idInfoPro , 'idheure': heure.heurid,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Modifier une heure</a>
                                    </div>
                                </div>
                            {% endfor %}
                            <a href="{{ path('EnregistrerHeures',{'sproid': idInfoPro,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Ajouter une heure</a>
                        </div>
                        <div class="tab-pane" id="{{idInfoPro}}.avenants" role="tabpanel" aria-labelledby="home-tab">
                            <H4 style="color:#F7230C">Voici la page permettant de gérer les avenants :</H4>

                            {% for avenant in avenants %}
                                <div class="card border-primary mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <p class="card-text">
                                        <li><B>Date d'effet : </B>  {{ avenant.avdebut|date("d/m/Y") }}</li>
                                        <li><B>Type de modification :</B>  {{ avenant.avtypemodif}}</li>
                                        <li><B>Commentaires éventuels:</B> {{ avenant.avcommentaire}}
                                        </li>
                                        </p>
                                        <a href="{{ path('modifAvenant',{'sproid': idInfoPro , 'idavenant': avenant.avid,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Modifier un avenant</a>
                                    </div>
                                </div>
                            {% endfor %}
                            <a href="{{ path('EnregistrerAvenant',{'sproid': idInfoPro,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Ajouter un avenant</a>

                        </div>


                        <div class="tab-pane" id="{{idInfoPro}}.fincontrat" role="tabpanel" aria-labelledby="home-tab">
                            <br>
                            <H4 style="color:#f7230c">Voici la page permettant de gérer la fin de contrat :</H4>

                            <div class="card border-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <p class="card-text">
                                    <li><B>Date de fin de contrat :</B>  {{ Infospro.sDateFin|date("d/m/Y")}}</li>
                                    <li><B>Motif fin de contrat :</B>  {{ Infospro.sFinMotif}}</li>
                                    <li><B>Commentaire de fin de contrat:</B>  {{ Infospro.sComFin }}</li>
                                    </p>
                                    <a href="{{ path('modifFin',{'sproid': idInfoPro,'butForReturn': 'ADMIN_ASSO', 'Page1': Page1, 'Page2': Page2}) }}" method="post" type="button" class="btn btn-danger">Ajouter / Modifier une fin de contrat</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <hr>
        <br>
    </fieldset>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% endblock %}



{% endblock %}