{% extends 'base.html.twig' %}
{% block body %}
  <fieldset>
    <legend style="color:#18BC9C"><B>Voici la page de gestion d'un salarié :</B></legend>

    <br>
    <hr>
    <table>
      <tr>
          {#Début de la Nav-bar, Les noms des ongles#}
          <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#{{infospro.sproid()}}.conges" role="tab" aria-controls="home" aria-selected="true">Congés</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{infospro.sproid()}}.arrets_travail" role="tab" aria-controls="profile" aria-selected="false">Arrêts de travail</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{infospro.sproid()}}.chomages" role="tab" aria-controls="profile" aria-selected="false">Chomages</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{infospro.sproid()}}.autres_absences" role="tab" aria-controls="profile" aria-selected="false">Autres absences</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{infospro.sproid()}}.primes" role="tab" aria-controls="profile" aria-selected="false">Primes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{infospro.sproid()}}.frais" role="tab" aria-controls="profile" aria-selected="false">Frais</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{infospro.sproid()}}.heures" role="tab" aria-controls="profile" aria-selected="false">Heures</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{infospro.sproid()}}.avenants" role="tab" aria-controls="profile" aria-selected="false">Avenants</a>
              </li>
          </ul>

          {#Début du contenu des onglets#}
          <div class="tab-content">
              <div class="tab-pane active" id="{{infospro.sproid()}}.conges" role="tabpanel" aria-labelledby="home-tab">
                  <p>Voici la page des congés</p>
              </div>
              <div class="tab-pane" id="{{infospro.sproid()}}.arrets_travail" role="tabpanel" aria-labelledby="profile-tab">
                  <p>Voici la page des arrêts de travail</p>
              </div>
              <div class="tab-pane" id="{{infospro.sproid()}}.chomages" role="tabpanel" aria-labelledby="profile-tab">
                  <p>Voici la page du chomage</p>
              </div>
              <div class="tab-pane" id="{{infospro.sproid()}}.autres_absences" role="tabpanel" aria-labelledby="home-tab">
                  <p>Voici la page des autres absences</p>
              </div>
              <div class="tab-pane" id="{{infospro.sproid()}}.primes" role="tabpanel" aria-labelledby="home-tab">
                  <p>Voici la page des primes</p>
              </div>
              <div class="tab-pane" id="{{infospro.sproid()}}.frais" role="tabpanel" aria-labelledby="home-tab">
                  <p>Voici la page des frais</p>
              </div>
              <div class="tab-pane" id="{{infospro.sproid()}}.heures" role="tabpanel" aria-labelledby="home-tab">
                  <p>Voici la page des heures</p>
              </div>
              <div class="tab-pane" id="{{infospro.sproid()}}.avenants" role="tabpanel" aria-labelledby="home-tab">
                  <p>Voici la page des avenants</p>
              </div>
          </div>
      </tr>
    </table>
    <hr>
    <br>
  </fieldset>

  {% block javascripts %}
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  {% endblock %}

{% endblock %}
