{% extends 'base.html.twig' %}
{% block body %}
    <fieldset>
        <legend style="color:#18BC9C"><B>Voici la page de gestion d'un salarié :</B></legend>

        <br>
        <hr>
        <table>
            <tr>
                {#Début de la Nav-bar, Les noms des ongles#}
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#{{idinfospro}}.conges" role="tab" aria-controls="home" aria-selected="true">Congés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idinfospro}}.arrets_travail" role="tab" aria-controls="profile" aria-selected="false">Arrêts de travail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idinfospro}}.chomages" role="tab" aria-controls="profile" aria-selected="false">Chomages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idinfospro}}.autres_absences" role="tab" aria-controls="profile" aria-selected="false">Autres absences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idinfospro}}.primes" role="tab" aria-controls="profile" aria-selected="false">Primes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idinfospro}}.frais" role="tab" aria-controls="profile" aria-selected="false">Frais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idinfospro}}.heures" role="tab" aria-controls="profile" aria-selected="false">Heures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#{{idinfospro}}.avenants" role="tab" aria-controls="profile" aria-selected="false">Avenants</a>
                    </li>
                </ul>


                {#Début du contenu des onglets#}
                <div class="tab-content">
                    <div class="tab-pane active" id="{{idinfospro}}.conges" role="tabpanel" aria-labelledby="home-tab">
                        <br>
                        <H4 style="color:#F7230C">Voici la page permettant de gérer les congés :</H4>

                        {% for conge in conges %}
                            <div class="card border-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <p class="card-text">
                                    <li><B>Type de congés :</B>  {{ conge.contype }}</li>
                                    <li><B>Dernier jour travaillé :</B>  {{ conge.condernierjour|date("d/m/Y")}}</li>
                                    <li><B>Jour de reprise :</B>  {{ conge.conjourreprise|date("d/m/Y") }}</li>
                                    <li><B>Jours normalement travaillé :</B>  {{ conge.conjournormaltrav | json_encode }} </li>
                                    <li><B>Nombre de jour ouvrable pris :</B>  {{ conge.connbjourouvrablepris }} </li>
                                    <li><B>Commentaire :</B>  {{ conge.concommentaire }} </li>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                        <a href="{{ path('EnregistrerConge',{'sproid': idinfospro }) }}" method="post" type="button" class="btn btn-danger">Ajouter un congé</a>
                    </div>

                    <div class="tab-pane" id="{{idinfospro}}.arrets_travail" role="tabpanel" aria-labelledby="profile-tab">

                    </div>

                    <div class="tab-pane" id="{{idinfospro}}.chomages" role="tabpanel" aria-labelledby="profile-tab">
                        <br>
                        <H4 style="color:#F7230C">Voici la page permettant de gérer les périodes de chômage :</H4>

                        {% for chomage in chomages %}
                            <div class="card border-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <p class="card-text">
                                    <li><B>Date de début :</B>  {{ chomage.chodebut|date("d/m/Y")}}</li>
                                    <li><B>Date de fin :</B>  {{ chomage.chofin|date("d/m/Y")}}</li>
                                    <li><B>Nombre d'heures à déduire :</B>  {{ chomage.chonbheure }}</li>
                                    <li><B>Maintien du chômage à 100% :</B>
                                        {% if chomage.chomaintien==0 %}
                                            Oui
                                        {% else %}
                                            Non
                                        {% endif %}
                                    </li>
                                    <li><B>Commentaire :</B>  {{ chomage.chocommentaire }} </li>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                        <p><a href="{{ path('EnregistrerChomage',{'sproid': idinfospro }) }}" method="post" type="button" class="btn btn-danger">Ajouter un chômage</a>
                        </p>
                    </div>
                    <div class="tab-pane" id="{{idinfospro}}.autres_absences" role="tabpanel" aria-labelledby="home-tab">
                        <p>Voici la page des autres absences</p>
                    </div>
                    <div class="tab-pane" id="{{idinfospro}}.primes" role="tabpanel" aria-labelledby="home-tab">
                        <p>Voici la page des primes</p>
                    </div>
                    <div class="tab-pane" id="{{idinfospro}}.frais" role="tabpanel" aria-labelledby="home-tab">
                        <p>Voici la page des frais</p>
                    </div>
                    <div class="tab-pane" id="{{idinfospro}}.heures" role="tabpanel" aria-labelledby="home-tab">
                        <p>Voici la page des heures</p>
                    </div>
                    <div class="tab-pane" id="{{idinfospro}}.avenants" role="tabpanel" aria-labelledby="home-tab">
                        <p>Voici la page des avenants</p>
                    </div>
                </div>
            </tr>
        </table>
        <hr>
        <br>
    </fieldset>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% endblock %}

{% endblock %}
