{% extends 'base.html.twig' %}

{% block title %}Associations{% endblock %}

{% block body %}
    <fieldset>


        <legend>Liste des associations : </legend>
        <p>Nom : {{ association.anom }}</p>
        <p>Mail : {{ association.amail }}</p>
        <p>Adresse: {{ association.aadresse }}</p>
        <p>Téléphone: {{ association.atel }}</p>
        <p>Date de création: {{ association.adatecreation|date("d/m/Y") }}</p>
        <p>Date d'embauche du premier salarié: {{ association.adateembauche|date("d/m/Y") }}</p>
        <p>Fédération: {{ association.afederation }}</p>
        <p>SIRET: {{ association.asiret }}</p>
        <p>Code APE: {{ association.aape }}</p>
        <p>Immatriculation U.R.S.S.A.F. : {{ association.aurssaf}}</p>
        <p>Code risque : {{ association.acoderisque }}</p>
        <p>Taux accident de travail : {{ association.atauxaccidenttravail }}</p>
        <p>Numéro POLE EMPLOI: {{ association.apeidentifiant }}  code personnel: {{ association.apecodeperso }}</p>
        <p>Caisse retraite complémentaire: {{ association.acaisseretraite }} n° d'adhérent {{ association.acaisseretraitenumadh }}</p>
        <p>N° d'adhérent Caisse de Prévoyance Humanis GNP : {{ association.acaisseprevoyance }}</p>
        <p>En cas d'adhésion à des services de prévoyance optionnels : PP {{ association.app}} PO {{association.ap0}}</p>
        <p>Complémentaire Santé : {{ association.acomplementaire }}       n°d'adhérent:{{association.acaisseretraitenumadh}}</p>
        <p>N°ICOM :{{ association.aicom }}</p>
        <p>N° adhérent ASSTV :{{ association.aasstv}}</p>
        <p>Nom du/de la Président(e): {{ association.apresnom}}</p>
        <p>Adresse postale: {{ association.apresadresse }}</p>
        <p>Portable:  {{ association.apresportable}}</p>
        <p>Téléphone :{{ association.aprestel }}</p>
        <p>Mail: {{ association.acaisseprevoyance }}</p>
        <p>Nom du/de la correspondant(e) pour la gestion de l'emploi: {{ association.agestionnom}}</p>
        <p>Adresse postale: {{ association.acorrespondadresse }}</p>
        <p>Portable:  {{ association.acorrespondportable}}</p>
        <p>Téléphone :{{ association.acorrespondtel }}</p>
        <p>Mail: {{ association.acorrespondmail }}</p>
        <p>Envoi des courriers par internet :   {{ association.acourriersinternet }}</p>
        <p>Envoi des courriers à l'adresse du/de la  :   {{ association.aenvoicourrier }}</p>
        <p>Mode de paiement des salaires : {{ association.amodepaiement }}</p>
        <p>Coordonnées bancaires  :   {{ association.arib }}</p>
        <p>Informations complémentaires :   {{ association.ainfocomplementaire}}</p>
        <p>Date d'adhésion au service impact emploi :   {{ association.adateadhesion }}</p>











    </fieldset>
{% endblock %}

