{% extends 'base.html.twig' %}

{% block title %}Associations{% endblock %}

{% block body %}

    <div class="progress center-block">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <span><a href="{{ path('affAssociation',{'but':but}) }}" method="post">{{ Page1 }}</a></span>
        </div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="20" aria-valuemax="100">
            <span>{{ Page2 }}</span>
        </div>
    </div>

    <fieldset>

        <legend>informations de l'association : </legend>

        <p>Nom : {{ association.anom }}</p>
        <p>Mail : {{ association.amail }}</p>
        <p>Adresse: {{ association.aadresse }}</p>
        <p>Date de création: {{ association.adatecreation|date("d/m/Y") }}</p>
        <p>Date d'embauche du premier salarié: {{ association.adateembauche|date("d/m/Y") }}</p>
        <p>Fédération: {{ association.afederation }}</p>
        <p>SIRET: {{ association.asiret }}</p>
        <p>Code APE: {{ association.aape }}</p>
        <p>Immatriculation U.R.S.S.A.F. : {{ association.aurssaf}}</p>
        <p>Code risque délivré par la CARSAT: {{ association.acoderisque }}</p>
        <p>Numéro POLE EMPLOI: {{ association.apeidentifiant }}  code personnel: {{ association.apecodeperso }}</p>
        <p>Caisse retraite complémentaire: {{ association.acaisseretraite }} n° d'adhérent {{ association.acaisseretraitenumadh }}</p>
        <p>N° d'adhérent Caisse de Prévoyance Humanis GNP : {{ association.acaisseprevoyance }}</p>
        <p>Adhésion à des services de prévoyance optionnels : {{ association.app}} </p>
        <p>Complémentaire Santé : {{ association.acomplementaire }}       n°d'adhérent:{{association.acaisseretraitenumadh}}</p>
        <p>N°adhérent AFDAS :{{ association.aicom }}</p>
        <p>N° adhérent ASSTV :{{ association.aasstv}}</p>
        <p>Nom du/de la Président(e): {{ association.apresnom}}</p>
        <p>Adresse postale: {{ association.apresadresse }}</p>
        <p>Portable:  {{ association.apresportable}}</p>
        <p>Téléphone :{{ association.aprestel }}</p>
        <p>Mail: {{ association.acaisseprevoyance }}</p>
        <p>Nom du/de la correspondant(e) pour la gestion de l'emploi: {{ association.agestionnom}}</p>
        <p>Adresse postale: {{ association.acorrespondadresse }}</p>
        <p>Portable:  {{ association.acorrespondportable}}</p>
        <p>Téléphone :{{ association.acorrespondtel }}</p>
        <p>Mail: {{ association.acorrespondmail }}</p>
        <p>Mode de paiement des salaires : {{ association.amodepaiement }}</p>
        <p>Coordonnées bancaires  :   {{ association.arib }}</p>
        <p>Informations complémentaires :   {{ association.ainfocomplementaire}}</p>
        <p>Date d'adhésion au service impact emploi :   {{ association.adateadhesion|date("d/m/Y") }}</p>

        <br><br>
    </fieldset>
{% endblock %}

