{% extends 'base.html.twig' %}

{% block title %}Associations{% endblock %}

{% block body %}
    <fieldset>


        <legend>Liste des associations : </legend>
        <p>Nom : {{ association.anom }}</p>
        <p>Mail : {{ association.amail }}</p>
        <p>Adresse: {{ association.aadresse }}</p>
        <p>Téléphone: {{ association.atel }}</p>
        <p>Date de création: {{ association.adatecreation|date("d/m/Y") }}</p>
        <p>Date d'embauche du premier salarié: {{ association.adateembauche|date("d/m/Y") }}</p>
        <p>Fédération: {{ association.afederation }}</p>
        <p>SIRET: {{ association.asiret }}</p>
        <p>Code APE: {{ association.aape }}</p>
        <p>Immatriculation U.R.S.S.A.F. : {{ association.aurssaf}}</p>
        <p>Code risque : {{ association.acoderisque }}</p>
        <p>Taux accident de travail : {{ association.atauxaccidenttravail }}</p>
        <p>Numéro POLE EMPLOI: {{ association.apeidentifiant }}  code personnel: {{ association.apecodeperso }}</p>
        <p>Caisse retraite complémentaire: {{ association.acaisseretraite }} n° d'adhérent {{ association.acaisseretraitenumadh }}</p>
        <p>N: {{ association.aape }}</p>








    </fieldset>
{% endblock %}

