{% extends 'base.html.twig' %}

{% block title %}Salariés{% endblock %}

{% block body %}
    <fieldset>
        {% if listsalaries is defined %}
            <legend>Liste des salariés : </legend>

            <table id="" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Voir les informations</th>
                    <th>Supprimer un salarié</th>
                </tr>
                </thead>
                <tbody>
                {% for salarie in listsalaries %}
                    <tr>
                        <td>{{ salarie.snom }}</td>
                        <td>{{ salarie.sprenom}}</td>

                        {% if assoMail is defined%}
                            <td>
                                <a href="{{ path('voirSalarie',{'idsalarie': salarie.spersoid, 'assoMail': assoMail, 'but':'association'}) }}" method="post">Voir</a>
                            </td>
                        {% else %}
                            <td>
                                <a href="{{ path('voirSalarie',{'idsalarie': salarie.spersoid, 'assoMail': ' ', 'but':'salarie'}) }}" method="post">Voir</a>
                            </td>
                        {% endif %}

                        <td>
                            <a href="" method="post">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
        {% endif %}

        {% if message is defined %}
            {{ message }}
        {% endif %}

        {% if assoMail is defined%}
            <a href="{{ path('VerifInfosPerso',{'mailasso': assoMail, 'role':'SUPER_ADMIN'}) }}" method="post" type="button" class="btn btn-success">Ajouter un salarié</a>
        {% else %}
            <a href="{{ path('Choixasso',{'role':'SUPER_ADMIN'}) }}" method="post" type="button" class="btn btn-success">Ajouter un salarié</a>
        {% endif %}

    </fieldset>
{% endblock %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/keytable/2.5.0/js/dataTables.keyTable.min.js"></script>
    <script>
        $(document).ready(function() {
            $('table.display').DataTable();
        } );
    </script>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/keytable/2.5.0/css/keyTable.dataTables.min.css">
{% endblock %}